<!DOCTYPE html>
<html>
  <head>
    <title>ShopOp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<!-- Favicon-->
	    <link rel="shortcut icon" href="img/fav.png">
	   
	     <!-- Meta Description -->
	     <meta name="description" content="">
	     <!-- Meta Keyword -->
	     <meta name="keywords" content="">
	     <!-- meta character set -->
	     <meta charset="UTF-8">
	     <!-- Site Title -->
     	<title>zyos</title>
	   <!-- CSS ============================================= -->
	     

    <%= stylesheet_link_tag 'application',  media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'%>
  </head>
  <%= render 'layouts/partials/Navbar' %> 

  <body>
    <%= yield %>
   
    
    
    
    
    
    
    
    

   
   
      
    


     <%= render 'layouts/partials/Footer'%>
  
  </body>
 
</html>
